<body>
<nav class="navbar navbar-expand-lg navbar-dark" style="background: #997147">
    <a class="navbar-brand d-flex align-items-center justify-content-center" href="https://www.uce.edu.ec/" target="_blank">
      <img src="/assets/img/uce_blanco.png" width="50" height="50" class="d-inline-block align-top" alt="" style="margin-right: 10px;">
    </a>
    <a class="navbar-brand d-flex align-items-center justify-content-center" href="https://www.ups.edu.ec/" target="_blank">
      <img src="/assets/img/salesiana_blanco.png" width="150" height="50" class="d-inline-block align-top" alt="" style="margin-right: 10px;">
    </a>
    <a class="navbar-brand d-flex align-items-center justify-content-center" href="https://www.epn.edu.ec/" target="_blank">
      <img src="/assets/img/epn_blanco.png" width="100" height="50" class="d-inline-block align-top" alt="" style="margin-right: 10px;">
    </a>
    <a class="navbar-brand d-flex align-items-center justify-content-center" href="https://www.espe.edu.ec/" target="_blank">
      <img src="/assets/img/espe_blnaco.png" width="40" height="50" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active"  href="https://forms.gle/cRaC9Azvw2dkgZYV9" target="_blank" >Registrarse</a>
        </li>
      </ul>
    </div>
</nav>
<div class="position-relative hero-section">
  <img src="/assets/img/portada.png" class="img-fluid" alt="...">
  <div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(0, 0, 0, 0.5);"></div>
  <div class="position-absolute top-50 start-50 translate-middle text-center text-white content">
    <h1 class="display-2">5to Seminario Internacional</h1>
    <p>"Estado del Arte en Ingeniería Estructural y Materiales: Normativa y calidad de construcción"</p>
  </div>
</div>

<div class="container-fluid ">
  <div class="row text-white">
    <div class="col p-5" style="background: #997147">
      <h2>¿Cuándo?</h2>26 - 27 - 28 Junio 2024
    </div>
    <div class="col p-5 text-white" style="background: #E0CAB1">
      <h2>¿Dónde?</h2>Auditorio UCE
    </div>
  </div>
  <div class="row">
    <div class="col p-0">
      <div class="container">
        <div class="card p-4 border-0">
          <h2 class="mb-4">¿De qué se trata?</h2>
          <p>El borrador de la nueva Norma Ecuatoriana de Construcción se encuentra en etapa de socialización. Es nuestro deseo contribuir a una discusión constructiva e informada sobre el contenido de este importante documento.</p>
          <p>Por tal motivo, estamos organizando el V Seminario Internacional “Estado del Arte en Ingeniería Estructural y Materiales: Normativa y calidad en la construcción”. Este evento está previsto para los días 26, 27 y 28 de Junio, y se llevará a cabo en las instalaciones de la Universidad Central, Escuela Politécnica Nacional, Politécnica Saleciana y Universidad de las Fuerzas Armadas ESPE, respectivamente.</p>
          <p>El objetivo del Seminario es proporcionar a la comunidad académica de diferentes universidades un espacio para profundizar en la propuesta de normativa.</p>
        </div>
      </div>
    </div>
    <div class="col p-0">
      <img class="img-fluid" src="/assets/img/info.jpg" alt="Imagen de portada">
    </div>
  </div>
</div>

<div class="container-fluid text-center align-content-center p-5" style="background: #E0CAB1">
  <div class="row">
      <h2 class="text-white">Inicia En</h2>
  </div>
  <div class="row">
      <section>
        <div class="coming-soon">
          <div class="time-countdown">
            <ul class="time">
              <li class="count-bg-one radius"><span id="days">{{day}}</span>Dias</li>
              <li class="count-bg-two radius"><span id="hours">{{hours}}</span>Horas</li>
              <li class="count-bg-three radius"><span id="minutes">{{minutes}}</span>Minutos</li>
              <li class="count-bg-four radius"><span id="seconds">{{seconds}}</span>Segundos</li>
            </ul>
          </div>
        </div>
      </section>
  </div>
</div>
<div class="position-relative">
  <div class="container-fluid">
    <div class="row">
       <img src="/assets/img/registro2.jpg" class="img-fluid w-100 h-100 p-0" alt="...">
       <div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(0, 0, 0, 0.5);"></div>
       <div class="position-absolute top-50 start-50 translate-middle text-center text-white">
         <h2 class="registro">"Descubre, aprende, participa."</h2>
         <a type="button" class="btn btn-dark" href="https://forms.gle/cRaC9Azvw2dkgZYV9" target="_blank">Registrarse</a>
       </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="background: #997147">
  <div class="row justify-content-center align-items-center">
    <img class="img-fluid w-25" src="/assets/img/auspiciante1.png" alt="">
  </div>
</div>
<div class="container-fluid text-center" style="background: #997147">
  <div class="row">
      <p class="text-white">© Todos los derechos reservados 2024.</p>
  </div>
</div>
</body>
