<body>
<nav class="navbar navbar-expand-lg navbar-dark" style="background: #997147">
<!--    <a class="navbar-brand d-flex align-items-center justify-content-center" href="https://www.uce.edu.ec/" target="_blank">-->
<!--      <img src="/assets/img/uce_blanco.png" width="50" height="50" class="d-inline-block align-top" alt="" style="margin-right: 10px;">-->
<!--    </a>-->
<!--    <a class="navbar-brand d-flex align-items-center justify-content-center" href="https://www.ups.edu.ec/" target="_blank">-->
<!--      <img src="/assets/img/salesiana_blanco.png" width="150" height="50" class="d-inline-block align-top" alt="" style="margin-right: 10px;">-->
<!--    </a>-->
<!--    <a class="navbar-brand d-flex align-items-center justify-content-center" href="https://www.epn.edu.ec/" target="_blank">-->
<!--      <img src="/assets/img/epn_blanco.png" width="100" height="50" class="d-inline-block align-top" alt="" style="margin-right: 10px;">-->
<!--    </a>-->
<!--    <a class="navbar-brand d-flex align-items-center justify-content-center" href="https://www.espe.edu.ec/" target="_blank">-->
<!--      <img src="/assets/img/espe_blnaco.png" width="40" height="50" class="d-inline-block align-top" alt="">-->
<!--    </a>-->

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#resumen-section" target="">Envía tu resumen</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="assets/pdf/itinerario.pdf" download="Itinerario 5to Seminario Internacional"><span>Descargar Itinerario</span></a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link"  href="https://forms.gle/p8UPUEsxeJgUXrmQ7" target="_blank" >Registrarse</a>
            </li>
          </ul>
        </div>
    </nav>
    <div class="position-relative hero-section">
      <img src="assets/img/portada.png" class="img-fluid" alt="...">
<!--      <div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(0, 0, 0, 0.5);"></div>-->
    <!--  <div class="position-absolute top-50 start-50 translate-middle text-center text-white content">-->
<!--    <h1 class="display-2">5to Seminario Internacional</h1>-->
<!--    <p>"Estado del Arte en Ingeniería Estructural y Materiales: Normativa y calidad de construcción"</p>-->
<!--  </div>-->
</div>

<div class="container-fluid ">
  <div class="row text-white">
    <div class="col p-5" style="background: #997147">
      <h2>¿Cuándo?</h2>
      <div class="row">
        <div class="col">
          <span class="fw-bold">Fecha</span><br>
          <span>26 Junio 2024</span><br>
          <span>27 Junio 2024</span><br>
          <span>27 Junio 2024</span><br>
          <span>28 Junio 2024</span>
        </div>
        <div class="col">
          <span class="fw-bold">Hora</span><br>
          <span>10:00 - 16:00</span><br>
          <span>08:30 - 13:00</span><br>
          <span>13:30 - 17:30</span><br>
          <span>08:30 - 13:00</span><br>
        </div>
      </div>
    </div>
    <div class="col p-5 text-white" style="background: #E0CAB1">
      <h2>¿Dónde?</h2>
      <div class="row">
        <div class="col">
          <span class="fw-bold"></span><br>
          <span>Universidad Central del Ecuador</span><br>
          <span>Escuela Politécnica Nacional</span><br>
          <span>Universidad Politécnica Salesiana</span><br>
          <span>Universidad de las Fuerzas Armadas</span>
        </div>
        <div class="col">
          <span class="fw-bold">Descargar Mapa</span><br>
          <a class="text-white" href="assets/pdf/mapaUce.pdf" download="Mapa UCE"><span>Auditorio Antonio Salgado Noboa</span></a><br>
          <a class="text-white" href="assets/pdf/mapaEpn.pdf" download="Mapa EPN"><span >Auditorio 1, Quinto piso</span></a><br>
          <a class="text-white" href="assets/pdf/mapaUps.pdf" download="Mapa UPS"><span >Coliseo de la UPS, Campus el Girón</span></a><br>
          <a class="text-white" href="assets/pdf/mapaUce.pdf" download="Mapa UCE"><span>Auditorio Antonio Salgado Noboa</span></a>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col p-0">
      <div class="container">
        <div class="card p-4 border-0">
          <h2 class="mb-4">¿De qué se trata?</h2>
          <p>El borrador de la nueva Norma Ecuatoriana de Construcción se encuentra en etapa de socialización. Es nuestro deseo contribuir a una discusión constructiva e informada sobre el contenido de este importante documento.</p>
          <p>Por tal motivo, estamos organizando el V Seminario Internacional “Estado del Arte en Ingeniería Estructural y Materiales: Normativa y calidad en la construcción”. Este evento está previsto para los días 26, 27 y 28 de Junio, y se llevará a cabo en las instalaciones de la Universidad Central, Escuela Politécnica Nacional, Politécnica Saleciana y Universidad de las Fuerzas Armadas ESPE, respectivamente.</p>
          <p>El objetivo del Seminario es proporcionar a la comunidad académica de diferentes universidades un espacio para profundizar en la propuesta de normativa.</p>
        </div>
      </div>
    </div>
    <div class="col p-0">
      <img class="img-fluid" src="assets/img/info.jpg" alt="Imagen de portada">
    </div>
  </div>
</div>

<div class="container-fluid text-center align-content-center" style="background: #997147" >
  <div class="row">
    <h2 class="mt-5 text-white">Empieza en</h2>
    <section>
        <div class="coming-soon">
          <div class="time-countdown">
            <ul class="time">
              <li class="count-bg-one radius"><span id="days">{{day}}</span>Dias</li>
              <li class="count-bg-two radius"><span id="hours">{{hours}}</span>Horas</li>
              <li class="count-bg-three radius"><span id="minutes">{{minutes}}</span>Minutos</li>
              <li class="count-bg-four radius"><span id="seconds">{{seconds}}</span>Segundos</li>
            </ul>
          </div>
        </div>
      </section>
  </div>
</div>

<div id="resumen-section" class="container-fluid text-white" style="background: #E0CAB1">
  <div class="row text-center">
    <h2 class="mt-5">Envía tu resumen</h2>
  </div>
  <div class="row p-5">
      <p>Los resúmenes aceptados para ser presentados en el V Seminario Internacional-Estado del Arte en Ingeniería Estructural y Materiales: Normativa y calidad en la construcción serán revisados y seleccionados por el Comité Científico del V Seminario Internacional-Estado del Arte en Ingeniería Estructural y Materiales, el cual estará constituido por especialistas con experiencia en las diferentes áreas temáticas, además de una Coordinadora para la operatividad del Comité. Esta Coordinadora elaborará y aprobará los formatos para los resúmenes de las presentaciones orales y pósteres, así como para las evaluaciones de los mismos.
        Una vez realizada la convocatoria del evento, la Coordinadora recopilará todos los resúmenes enviados por los participantes y, de acuerdo con el tema, se distribuirán a los miembros del Comité Científico para la evaluación en el formato establecido. Para el dictamen final de la evaluación se considerarán los siguientes aspectos: Aprobado, Aprobado con cambios y Rechazado. Posteriormente a las evaluaciones, se notificarán los resultados a cada participante mediante mensajes de correo electrónico.</p>
  </div>

  <div class="row">
    <div class="col p-5" style="background: #997147">
      <h3>Formato Abstract Resumen</h3>
      <a class="text-white-50" href="assets/pdf/Formato_Abstract_Resumen.pdf" download="Formato Resumen"><span>Formato Resumen.pdf</span></a><br>
    </div>
    <div class="col p-5" style="background: rgb(108,88,72)">
      <h3>Estructura de un artículo</h3>
      <a class="text-white-50" href="assets/pdf/Estructura_Artículo.pdf" download="Estructura Artículo"><span>Estructura Artículo.pdf</span></a><br>
    </div>
    <div class="col p-5" style="background: #997147">
      <h2>¿Dónde enviar?</h2>
      <a class="text-white-50" href="https://revistadigital.uce.edu.ec/index.php/INGENIO/about/submissions" target="_blank"><span>Revista Ingenio</span></a><br>
    </div>
  </div>
</div>

<div class="position-relative">
  <div class="container-fluid">
    <div class="row">
       <img src="assets/img/registro2.jpg" class="img-fluid w-100 h-100 p-0" alt="...">
       <div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(0, 0, 0, 0.5);"></div>
       <div class="position-absolute top-50 start-50 translate-middle text-center text-white">
         <h2 class="registro">"Descubre, aprende, participa."</h2>
         <a type="button" class="btn btn-dark" href="https://forms.gle/p8UPUEsxeJgUXrmQ7" target="_blank">Registrarse</a>
       </div>
    </div>
  </div>
</div>

<div class="container-fluid text-center" style="background: #997147">
  <div class="row justify-content-center align-items-center">
    <img class="img-fluid w-25" src="assets/img/auspiciante1.png" alt="Logo Camicon">
  </div>
  <div class="row mt-4">
    <p class="text-white">© Todos los derechos reservados 2024.</p>
  </div>
</div>
</body>
