@font-face {
  font-family: 'Nexa Light';
  src: url('assets/nexa/Nexa Light.otf') format('opentype'); /* Ruta a la fuente en tu servidor */
}

body {
  font-family: 'Nexa Light', Arial, sans-serif; /* Fallback a fuentes genéricas */
}
